.idea/
myenv/
.venv/
*.md
.git
__pycache__/
*.pyc
*.pyo
venv/
Pipfile
Pipfile.lock
untitled.sublime-workspace
nginx/logs/access.log
nginx/logs/error.log
logs/
media/
*.swp
jupyterhub.*
jupyterhub_cookie_secret
.ipynb_checkpoints/
jupyterhub-proxy.pid
