absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp @ file:///home/hussein2079/Downloads/pyrobale/aiohttp-3.13.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl#sha256=b18f31b80d5a33661e08c89e202edabf1986e9b49c42b4504371daeaa11b47c1
aiosignal==1.4.0
alembic==1.18.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.11.1
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.3.0
asyncio==3.4.3
attrs==26.1.0
babel==2.18.0
Balethon==1.1.0
BalethonFix==1.1.0.post9
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.3.0
bs4==0.0.2
celery==5.6.2
certifi==2026.4.22
certipy==0.2.3
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
comm==0.2.3
contourpy==1.3.3
crispy-bootstrap5==2025.6
cron_descriptor==2.0.6
cryptography==46.0.4
cycler==0.12.1
Cython==3.2.4
debugpy==1.8.20
decorator==5.2.1
decouple==0.0.7
defusedxml==0.7.1
distro==1.9.0
Django==5.2.11
django-allauth==65.14.0
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-crispy-forms==2.5
django-extensions==4.1
django-filter==25.2
django-redis==6.0.0
django-revproxy==0.13.0
django-timezone-field==7.2.1
django-widget-tweaks==1.5.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docker==7.1.0
dockerspawner==14.0.0
escapism==1.1.0
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.2
flatbuffers==25.12.19
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
gast==0.7.0
google-pasta==0.2.0
greenlet==3.5.0
grpcio==1.80.0
gunicorn==25.1.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
ipykernel==7.2.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.3
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterhub==5.4.5
jupyterhub-nativeauthenticator==1.3.0
jupyterlab==4.5.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.14.0
kiwisolver==1.5.0
kombu==5.6.2
lark==1.3.1
libclang==18.1.1
Mako==1.3.12
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.4
multidict==6.7.1
namex==0.1.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.6
notebook_shim==0.2.4
numpy==2.4.4
oauthlib==3.3.1
onetimepass==1.0.1
openai==2.37.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
packaging==26.2
pamela==1.2.0
pandas==3.0.2
pandocfilters==1.5.1
parso==0.8.6
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyaes==1.6.1
pyasn1==0.6.2
pycountry==24.6.1
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
PyJWT==2.11.0
pyparsing==3.3.2
pyrobale @ file:///home/hussein2079/Downloads/pyrobale/pyrobale-0.6.19-py3-none-any.whl#sha256=1b495743c76776b56712db68a55955cf3278ca6a59eb6b9af21f5f7e94a4ce80
pyTelegramBotAPI==4.30.0
python-bidi==0.6.7
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.1.0
python3-openid==3.2.0
PyYAML==6.0.3
pyzmq==27.1.0
q==2.7
redis==7.1.0
redis-lock==0.2.0
referencing==0.37.0
reportlab==4.4.9
requests==2.33.1
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py==0.30.0
rsa==4.9.1
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==69.0.3
six==1.17.0
sniffio==1.3.1
social-auth-app-django==5.7.0
social-auth-core==4.8.3
soupsieve==2.8.3
SQLAlchemy==2.0.49
sqlparse==0.5.5
stack-data==0.6.3
tailwind==3.1.5b0
telebot==0.0.5
Telethon==1.42.0
tensorflow==2.21.0
termcolor==3.3.0
terminado==0.18.1
tinycss2==1.4.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uri-template==1.3.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.47.0
whitenoise==6.11.0
widgetsnbextension==4.0.15
wrapt==2.1.2
yarl==1.23.0
