{% autoescape off %}
<html>
<body>
    <p>Hi dear {{ user.username }},</p>
    <p>We are very pleased to have you as an Intelleum community member.</p>
    <p>To confirm your registration, click the link below:</p>
    <p>
        {% if telegram %}
            <a href="https://{{ domain }}/telbot/{% url 'telegram_activate' uidb64=uid token=token %}">
                Activate via Telegram
            </a>
        {% else %}
            <a href="https://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}">
                Activate via Website
            </a>
        {% endif %}
    </p>
</body>
</html>
{% endautoescape %}
