{% load static %}
<link href="{% static 'registration/login.css' %}" rel="stylesheet">
<div class="flex-container">
  <div class="content-container">
    <div class="form-container">
      <form action="{% url 'accounts:login' %}" method='POST'>
	  {% csrf_token %}
		<!-- <div class='logo'> -->
		<!-- <img src='{% static "logo/IMG-1762-PNG.png" %}'> -->
		<!-- </div> -->
        <h1>
          Login
        </h1>
        <br>
        <br>
        
        <br>
		<!-- <div class='input-content'> -->
		<input type="text" name="username" placeholder='Username' value="">
		<!-- </div> -->
        <br>
        
        <br>
		<!-- <div class='input-content'> -->
		<input type="password" name="password" placeholder='Password' value="">
		<!-- </div> -->
        <br><br>
        <input type="submit" value="SUBMIT" class="submit-btn">
      </form>
    </div>
  </div>
</div>

