.copyright {
	margin: 0;
	margin-top: auto;
}









/* Alert wrapper to fix the alert at the top of the container */
.alert-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.05rem;
    transition: opacity 1s ease; /* Smooth transition for wrapper */
}


	
	
/* Alert box */
.alert {
    z-index: 9999;
    width: calc(100% - 15px);
    opacity: 0.9;
    transition: opacity 1s ease; /* Smooth transition for alert */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 5px;
}




/* Fade-out effect */
.alert.fade-out {
    opacity: 0;
    transition: opacity 1s ease; /* Smooth fade-out within 1 second */
}

.alert-wrapper.fade-out {
    opacity: 0;
    transition: opacity 1s ease; /* Smooth fade-out within 1 second */
}

/* Center the close button */
.btn-close {
    font-size: 1.3rem;
    line-height: 1;
    height: 100%;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
    opacity: 1;
	line-height: 1;
}

ul {
list-style-type: none;
}


/* Optional custom styling for the camera icon */
label.change-header-icon {
    color: white; /* Icon color */
    
    opacity: 0.7; /* Slight transparency */
}

label.change-header-icon:hover, input:hover+label {
    opacity: 1; /* Fully visible when hovered */
	color: #e91e63;
}

/* Optional: Customize how the tooltip looks */
.tooltip-inner {
    background-color: #000; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    font-size: 0.9rem; /* Adjust font size */
}
