{% extends 'mainpage/base.html' %}
{%load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'heartpred/css/custom.css' %}">

{% endblock %}

{% block content %}

<form actions="{% url 'heartpred:prediction' %}" method='POST'>
	{{form.media}}	
	{% csrf_token %}
	<div class='form-div'>
		<h2>Heart Failure Prediction</h2>
		{{form}}
		<div class='my-5'>
			
			<button type="submit" class="btn-17">
			  <span class="text-container">
				<span class="text">submit</span>
			  </span>
			</button>

		</div>
	</div>
	<p>This person will {{prediction}}</p>
</form>

{% endblock %}
