{% extends "registration/dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}
	
	profile | Hi {{ profile.fname }}
	
{% endblock %}











{% block content %}
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url({{ profile.background_pic.url }});">
        <span class="mask bg-gradient-primary opacity-6">
		    <form id="headerForm" action="{% url 'accounts:change_header_image' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<label for="id_header_image" class="position-absolute top-0 end-0 p-3 change-header-icon" title="Change Header">
					<i class="justify-content-end fa fa-camera fa-2x" aria-hidden="true">{{ header_form.background_pic|attr:"id:id_header_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-2x"|attr:"style:display: none"}}</i>
				</label>
			</form>
		</span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
				<img src="{{ profile.avatar.url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
				<form id="avatarForm" action="{% url 'accounts:change_avatar_image' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<label for="id_avatar_image" class="position-absolute buttom-0 end-0 p-1 change-header-icon" title="Change Avatar">
						<i class="justify-content-end fa fa-camera fa-lg" aria-hidden="true">{{ avatar_form.avatar|attr:"id:id_avatar_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-lg"|attr:"style:display: none"}}</i>
					</label>
				</form>
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
				{% if profile.fname and profile.lname %}
					{{ profile.fname }} {{ profile.lname }}
				{% else %}
					Your Full Name
				{% endif %}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                CEO / Co-Founder
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">App</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">settings</i>
                    <span class="ms-1">Settings</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            
            <div class="col-12 col-xl-7">
              <div class="card card-plain h-100">
                <!-- profile.html -->
				<div class="card-header pb-0 p-3">
				  <div class="row">
					<div class="col-md-8 d-flex align-items-center">
					  <h6 class="mb-0">About me</h6>
					</div>
					<div class="col-md-4 text-end">
					  <a href="javascript:;" id="editProfileBtn">
						<i class="fas fa-user-edit fa-sm text-secondary text-sm" title="Edit Profile"></i>
					  </a>
					</div>
				  </div>
				</div>

				<form id="profileForm" action="{% url 'accounts:change_profile_data' %}" method="POST">
				  {% csrf_token %}
				  <div class="card-body p-3 ">
					<!-- Display user profile info as text -->
					<p class="text-sm" id="aboutMeText">{{ profile.about_me }}</p>
					{{ update_form.about_me|as_crispy_field }}

					<hr class="horizontal gray-light my-4">

					<ul class="list-group">
					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3">
						  <div class="col-4">
							<strong class="text-dark">Full Name:</strong>
						  </div>
						  <div class="col-8">
							<span id="fullNameText">
							  {% if profile.fname and profile.lname %}
								{{ profile.fname }} {{ profile.lname }}
							  {% elif profile.fname %}
								<span style="padding-right: 2rem;">{{ profile.fname }}</span> Your Last Name</span>
							  {% elif profile.lname %}
								<span>Your First Name</span><span style="padding-left: 2rem;">{{ profile.lname }}</span>
							  {% else %}
								Your Full Name
							  {% endif %}
							</span>
							<div class="row">
								<div class="col-6">
									<div class="input-group input-group-outline mb-3 d-none" id='fnameField'>
										<label class="form-label">First Name</label>
										{{ update_form.fname|as_crispy_field }}
									</div>
								</div>
								<div class="col-6">
									<div class="input-group input-group-outline mb-3 d-none" id='lnameField'>
										<label class="form-label">Last Name</label>
										{{ update_form.lname|as_crispy_field }}
									</div>
								</div>
							</div>
						  </div>
						</div>
					  </li>
					  
					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3">
						  <div class="col-4">
							<strong class="text-dark">Birthday:</strong>
						  </div>
						  <div class="col-8">
							<span id="birthdayText">
								{% if profile.birthday %}
									{{ profile.birthday }}
								{% else %}
									Your  Birthday
								{% endif %}
							</span>
							{{ update_form.birthday|as_crispy_field }}
						  </div>
						</div>
					  </li>

					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3">
						  <div class="col-4">
							<strong class="text-dark">Mobile:</strong>
						  </div>
						  <div class="col-8">
							<span id="phoneText">
								{% if profile.Phone %}
									{{ profile.Phone }}
								{% else %}
									Your Phone Number
								{% endif %}
							</span>
							{{ update_form.Phone|as_crispy_field }}
						  </div>
						</div>
					  </li>

					  <li id="addressText" class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3">
						  <div class="col-4">
							<strong class="text-dark">Address:</strong>
						  </div>
						  <div class="col-8">
							<span>
							  {% if profile.address %}
								{{ profile.address.country }}
							  {% else %}
								Your Address
							  {% endif %}
							</span>
						  </div>
						</div>
					  </li>
					  
						<!-- Shipping Address Formset -->
						<li id="shippingAddressText" class="d-none list-group-item border-0 pb-4 ps-0 text-sm">
							<div class="row">
							  <div class="col-6">
								<strong class="text-dark">Shipping Address:</strong>
							  </div>
							</div>
						</li>
						<li id="shippingAddressField" class="list-group-item d-none border-0 ps-0 text-sm">
							<div class="row">
							
								<div class="input-group input-group-outline my-3">
									<label class="form-label">Address Line 1</label>
									<div class="col-md-12">
										{{ address_form.shipping_line1|as_crispy_field }}
									</div>
								</div>
								<div class="input-group input-group-outline my-3">
									<label class="form-label">Address Line 2</label>
									<div class="col-md-12">
										{{ address_form.shipping_line2|as_crispy_field }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group input-group-outline my-3">
										<label class="form-label">Country</label>
										{{ address_form.shipping_country|as_crispy_field }}
									</div>
									<div class="input-group input-group-outline my-3">
										<label class="form-label">Province</label>
										{{ address_form.shipping_province|as_crispy_field }}
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="input-group input-group-outline my-3">
										<label class="form-label">City</label>
										{{ address_form.shipping_city|as_crispy_field }}
									</div>
									<div class="input-group input-group-outline my-3">
										<label class="form-label">Zip Code</label>
										{{ address_form.shipping_zip|as_crispy_field }}
									</div>
									
								</div>
									
							</div>
						</li>
					  
					  <li class="list-group-item border-0 ps-0 pb-0">
					    <div class="row input-group input-group-outline my-3">
						  <div class="col-4">
							  <strong class="text-dark text-sm">Social:</strong> &nbsp;
						  </div>
						  <div class="col-8">
							<span id="socialText">
							  {% if profile.tweeter %}
								  <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="https://twitter.com/{{ profile.tweeter }}">
									<i class="fab fa-twitter fa-lg"></i>
								  </a>
							  {% else %}
								<a class="btn btn-twitter disabled btn-simple mb-0 ps-1 pe-2 py-0" href="https://twitter.com/{{ profile.tweeter }}">
									<i class="fab fa-twitter fa-lg"></i>
								</a>
							  {% endif %}
							  {% if profile.instagram %}
								  <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="https://www.instagram.com/{{ profile.instagram }}/">
									<i class="fab fa-instagram fa-lg"></i>
								  </a>
							  {% else %}
								<a class="btn btn-instagram disabled btn-simple mb-0 ps-1 pe-2 py-0" href="https://www.instagram.com/{{ profile.instagram }}/">
									<i class="fab fa-instagram fa-lg"></i>
								</a>
							  {% endif %}
							</span>
							<div class="row" id="socialText">
								<div class="col-6 d-none" id="tweeterField">
									<div class="input-group input-group-outline mb-3">
										<label class="form-label">Tweeter ID</label>
										{{ update_form.tweeter|as_crispy_field }}
									</div>
								</div>
								<div class="col-6 d-none" id="instagramField">
									<div class="input-group input-group-outline mb-3 is-filled is-focused">
										<label class="form-label">Instagram ID</label>
										{{ update_form.instagram|as_crispy_field }}
									</div>
								</div>
							</div>
							</div>
						</div>
                    </li>
					  
					</ul>
				  </div>
				</form>

				</div>

              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}