{% extends "registration/dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
	
	profile | Hi {{ profile.fname }}
	
{% endblock %}











{% block content %}
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url({{ profile.background_pic.url }});">
        <span class="mask bg-gradient-primary opacity-6">
		    <form id="headerForm" action="{% url 'accounts:change_header_image' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<label for="id_header_image" class="position-absolute top-0 end-0 p-3 change-header-icon" title="Change Header">
					<i class="justify-content-end fa fa-camera fa-2x" aria-hidden="true">{{ header_form.background_pic|attr:"id:id_header_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-2x"|attr:"style:display: none"}}</i>
				</label>
			</form>
		</span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
				<img src="{{ profile.avatar.url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
				<form id="avatarForm" action="{% url 'accounts:change_avatar_image' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<label for="id_avatar_image" class="position-absolute buttom-0 end-0 p-1 change-header-icon" title="Change Avatar">
						<i class="justify-content-end fa fa-camera fa-lg" aria-hidden="true">{{ avatar_form.avatar|attr:"id:id_avatar_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-lg"|attr:"style:display: none"}}</i>
					</label>
				</form>
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
				{% if profile.fname and profile.lname %}
					{{ profile.fname }} {{ profile.lname }}
				{% else %}
					Your Full Name
				{% endif %}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                CEO / Co-Founder
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">App</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">settings</i>
                    <span class="ms-1">Settings</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            
            <div class="col-12 col-xl-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">About me</h6>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
					<p class="text-sm">
						{{ profile.about_me }}
					</p>
                  <hr class="horizontal gray-light my-4">
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; 
					{% if profile.fname and profile.lname %}
						{{ profile.fname }} {{ profile.lname }}
					{% else %}
						Your Full Name
					{% endif %}
					</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp 
					{% if profile.Phone %}
					{{ profile.Phone }}
					{% else %}
						Your Phone Number
					{% endif %}
					</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; 
					{% if profile.email %}
					{{ profile.email }}
					{% else %}
						Your Email Address
					{% endif %}
					</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; 
					{% if profile.address %}
						{{ profile.address.city }}, {{ profile.address.province }}
					{% else %}
						Your Address
					{% endif %}
					</li>
                    <li class="list-group-item border-0 ps-0 pb-0">
                      <strong class="text-dark text-sm">Social:</strong> &nbsp;
                      
                      {% if profile.tweeter %}
                      <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-twitter fa-lg"></i>
                      </a>
					  {% else %}
						<a class="btn btn-twitter disabled btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-twitter fa-lg"></i>
                      </a>
					  {% endif %}
					  {% if profile.instagram %}
                      <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-instagram fa-lg"></i>
                      </a>
					  {% else %}
						<a class="btn btn-instagram disabled btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-instagram fa-lg"></i>
                      </a>
					  {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}