{% extends "registration/dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}
	
	profile | Hi {{ profile.fname }}
	
{% endblock %}











{% block content %}
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url({{ profile.background_pic.url }});">
        <span class="mask bg-gradient-primary opacity-6">
		    <form id="headerForm" action="{% url 'accounts:change_header_image' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<label for="id_header_image" class="position-absolute top-0 end-0 p-3 change-header-icon" title="Change Header">
					<i class="justify-content-end fa fa-camera fa-2x" aria-hidden="true">{{ header_form.background_pic|attr:"id:id_header_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-2x"|attr:"style:display: none"}}</i>
				</label>
			</form>
		</span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xxl position-relative">
				<img src="{{ profile.avatar.url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
				<form id="avatarForm" action="{% url 'accounts:change_avatar_image' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<label for="id_avatar_image" class="position-absolute buttom-0 end-0 p-1 change-header-icon" title="Change Avatar">
						<i class="justify-content-end fa fa-camera fa-lg" aria-hidden="true">{{ avatar_form.avatar|attr:"id:id_avatar_image"|attr:"accept:image/*"|add_class:"justify-content-end fa fa-camera fa-lg"|attr:"style:display: none"}}</i>
					</label>
				</form>
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
				{% if profile.fname and profile.lname %}
					{{ profile.fname }} {{ profile.lname }}
				{% else %}
					Your Full Name
				{% endif %}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                CEO / Co-Founder
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">App</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">settings</i>
                    <span class="ms-1">Settings</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            
            <div class="col-12 col-xl-7">
              <div class="card card-plain h-100">
                <!-- profile.html -->
				<div class="card-header pb-0 p-3">
				  <div class="row">
					<div class="col-md-8 d-flex align-items-center">
					  <h6 class="mb-0">About me</h6>
					</div>
					<div class="col-md-4 text-end">
					  <a href="javascript:;" id="editProfileBtn">
						<i class="fas fa-user-edit fa-sm text-secondary text-sm" title="Edit Profile"></i>
					  </a>
					</div>
				  </div>
				</div>

				<form id="profileForm" action="{% url 'accounts:change_profile_data' %}" method="POST">
				  {% csrf_token %}
				  <div class="card-body p-3 ">
					<!-- Display user profile info as text -->
					<p class="text-sm" id="aboutMeText">{{ profile.about_me }}</p>
					<div class="row input-group input-group-outline my-3 is-filled is-focused">
						<div class="col-12">
							
							<div id="aboutmeField" class="mb-3 input-group d-none input-group-outline my-3 is-filled is-focused"> 
								<!-- Render the label manually -->
								<label for="{{ update_form.about_me.id_for_label }}" class="form-label"> 
									I am ...
								</label>

								<!-- Render the input field manually with custom classes and attributes -->
								<input type="text" 
									   name="{{ update_form.about_me.name }}" 
									   value="{{ update_form.about_me.value|default_if_none:'' }}" 
									   maxlength="40" 
									   class="textinput form-control" 
									    
									   onfocus="focused(this)" 
									   onfocusout="defocused(this)" 
									   placeholder="Describe Yourself">
							</div>
						</div>
					</div>

					<hr class="horizontal gray-light my-4">

					<ul class="list-group">
					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3 is-filled is-focused">
						  <div class="col-4">
							<strong class="text-dark">Full Name:</strong>
						  </div>
						  <div class="col-8">
							<span id="fullNameText">
							  {% if profile.fname and profile.lname %}
								{{ profile.fname }} {{ profile.lname }}
							  {% elif profile.fname %}
								<span style="padding-right: 2rem;">{{ profile.fname }}</span> Your Last Name</span>
							  {% elif profile.lname %}
								<span>Your First Name</span><span style="padding-left: 2rem;">{{ profile.lname }}</span>
							  {% else %}
								Your Full Name
							  {% endif %}
							</span>
							<div class="row">
								<div class="col-6">
									
									<div id="fnameField" class="mb-3 input-group input-group-outline d-none is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ update_form.fname.id_for_label }}" class="form-label"> 
											{{ update_form.fname.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ update_form.fname.name }}" 
											   value="{{ update_form.fname.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ update_form.fname.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="First Name">
									</div>
								</div>
								<div class="col-6">
									<div id="lnameField" class="mb-3 input-group input-group-outline d-none is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ update_form.lname.id_for_label }}" class="form-label"> 
											{{ update_form.lname.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ update_form.lname.name }}" 
											   value="{{ update_form.lname.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ update_form.lname.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="Last Name">
									</div>
								</div>
							</div>
						  </div>
						</div>
					  </li>
					  
					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3 is-filled is-focused">
						  <div class="col-4">
							<strong class="text-dark">Birthday:</strong>
						  </div>
						  <div class="col-8">
							<span id="birthdayText">
								{% if profile.birthday %}
									{{ profile.birthday }}
								{% else %}
									Your  Birthday
								{% endif %}
							</span>
							<div id="birthdayField" class="mb-3 input-group d-none input-group-outline my-3 is-filled is-focused"> 
								<!-- Render the label manually -->
								<label for="{{ update_form.birthday.id_for_label }}" class="form-label"> 
									{{ update_form.birthday.label }}
								</label>

								<!-- Render the input field manually with custom classes and attributes -->
								<input type="text" 
									   name="{{ update_form.birthday.name }}" 
									   value="{{ update_form.birthday.value|default_if_none:'' }}" 
									   maxlength="40" 
									   class="textinput form-control" 
									    
									   onfocus="focused(this)" 
									   onfocusout="defocused(this)" 
									   placeholder="Your Birthday">
							</div>
						  </div>
						</div>
					  </li>

					  <li class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3 is-filled is-focused">
						  <div class="col-4">
							<strong class="text-dark">Mobile:</strong>
						  </div>
						  <div class="col-8">
							<span id="phoneText">
								{% if profile.Phone %}
									{{ profile.Phone }}
								{% else %}
									Your Phone Number
								{% endif %}
							</span>
							
							<div id="phoneField" class="mb-3 input-group d-none input-group-outline my-3 is-filled is-focused"> 
								<!-- Render the label manually -->
								<label for="{{ update_form.Phone.id_for_label }}" class="form-label"> 
									{{ update_form.Phone.label }}
								</label>

								<!-- Render the input field manually with custom classes and attributes -->
								<input type="text" 
									   name="{{ update_form.Phone.name }}" 
									   value="{{ update_form.Phone.value|default_if_none:'' }}" 
									   maxlength="40" 
									   class="textinput form-control" 
									   
									   onfocus="focused(this)" 
									   onfocusout="defocused(this)" 
									   placeholder="Your Number">
							</div>
						  </div>
						</div>
					  </li>

					  <li id="addressText" class="list-group-item border-0 ps-0 text-sm">
						<div class="row input-group input-group-outline my-3 is-filled is-focused">
						  <div class="col-4">
							<strong class="text-dark">Address:</strong>
						  </div>
						  <div class="col-8">
							<span>
							  {% if profile.shippingaddressmodel.shipping_country or profile.shippingaddressmodel.shipping_line1 or profile.shippingaddressmodel.shipping_line2 %}
								{% if profile.shippingaddressmodel.shipping_line1 or profile.shippingaddressmodel.shipping_line2 %}{{ profile.shippingaddressmodel.shipping_line1 }}, {{ profile.shippingaddressmodel.shipping_line2 }}, {% endif %}{% if profile.shippingaddressmodel.shipping_city %}{{ profile.shippingaddressmodel.shipping_city }}, {% endif %}{% if profile.shippingaddressmodel.shipping_province %}{{ profile.shippingaddressmodel.shipping_province }}, {% endif %}{% if profile.shippingaddressmodel.shipping_country %}{{ profile.shippingaddressmodel.shipping_country }}{% endif %}
							  {% else %}
								Your Address
							  {% endif %}
							</span>
						  </div>
						</div>
					  </li>
					  
						<!-- Shipping Address Formset -->
						<li id="shippingAddressText" class="d-none list-group-item border-0 pb-4 ps-0 text-sm">
							<div class="row">
							  <div class="col-6">
								<strong class="text-dark">Shipping Address:</strong>
							  </div>
							</div>
						</li>
						<li id="shippingAddressField" class="list-group-item d-none border-0 ps-0 text-sm">
							<div class="row">
							
								<!-- <div class="input-group input-group-outline my-3 is-filled is-focused"> -->
									<!-- <label class="form-label">Address Line 1</label> -->
								<div class="col-md-12">
									<div id="div_id_shipping_line1" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_line1.id_for_label }}" class="form-label"> 
											{{ address_form.shipping_line1.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ address_form.shipping_line1.name }}" 
											   value="{{ address_form.shipping_line1.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ address_form.shipping_line1.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="Address Line 1">
									</div>
								</div>
								<div class="col-md-12">
									<div id="div_id_shipping_line2" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_line2.id_for_label }}" class="form-label"> 
											{{ address_form.shipping_line2.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ address_form.shipping_line2.name }}" 
											   value="{{ address_form.shipping_line2.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ address_form.shipping_line2.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="Address Line 2">
									</div>
								</div>
								
								<div class="col-md-6">
									
									<div id="div_id_shipping_country" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_country.id_for_label }}" class="form-label"> 
											Country
										</label>
										{{ address_form.shipping_country }}
										<!-- Render the input field manually with custom classes and attributes -->
										<!-- <input type="text"  -->
											   <!-- name="{{ address_form.shipping_country.name }}"  -->
											   <!-- value="{{ address_form.shipping_country.value|default_if_none:'' }}"  -->
											   <!-- maxlength="40"  -->
											   <!-- class="textinput form-control"  -->
											   <!-- id="{{ address_form.shipping_country.id_for_label }}"  -->
											   <!-- onfocus="focused(this)"  -->
											   <!-- onfocusout="defocused(this)"  -->
											   <!-- placeholder="Country"> -->
									</div>
									<div id="div_id_shipping_province" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_province.id_for_label }}" class="form-label"> 
											{{ address_form.shipping_province.label }}
										</label>
										{{ address_form.shipping_province }}
										<!-- Render the input field manually with custom classes and attributes -->
										<!-- <input type="text"  -->
											   <!-- name="{{ address_form.shipping_province.name }}"  -->
											   <!-- value="{{ address_form.shipping_province.value|default_if_none:'' }}"  -->
											   <!-- maxlength="40"  -->
											   <!-- class="textinput form-control"  -->
											   <!-- id="{{ address_form.shipping_province.id_for_label }}"  -->
											   <!-- onfocus="focused(this)"  -->
											   <!-- onfocusout="defocused(this)"  -->
											   <!-- placeholder="Province"> -->
									</div>
								</div>
								
								<div class="col-md-6">
									<div id="div_id_shipping_city" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_city.id_for_label }}" class="form-label"> 
											{{ address_form.shipping_city.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ address_form.shipping_city.name }}" 
											   value="{{ address_form.shipping_city.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ address_form.shipping_city.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="City">
									</div>
									<div id="div_id_shipping_zip" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ address_form.shipping_zip.id_for_label }}" class="form-label"> 
											{{ address_form.shipping_zip.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ address_form.shipping_zip.name }}" 
											   value="{{ address_form.shipping_zip.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ address_form.shipping_zip.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="Zip Code">
									</div>
									
								</div>
									
							</div>
						</li>
					  
					  <li class="list-group-item border-0 ps-0 pb-0">
					    <div class="row input-group input-group-outline my-3 is-filled is-focused">
						  <div class="col-4">
							  <strong class="text-dark text-sm">Social:</strong> &nbsp;
						  </div>
						  <div class="col-8">
							<span id="socialText">
							  {% if profile.tweeter %}
								  <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="https://twitter.com/{{ profile.tweeter }}">
									<i class="fab fa-twitter fa-lg"></i>
								  </a>
							  {% else %}
								<a class="btn btn-twitter disabled btn-simple mb-0 ps-1 pe-2 py-0" href="https://twitter.com/{{ profile.tweeter }}">
									<i class="fab fa-twitter fa-lg"></i>
								</a>
							  {% endif %}
							  {% if profile.instagram %}
								  <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="https://www.instagram.com/{{ profile.instagram }}/">
									<i class="fab fa-instagram fa-lg"></i>
								  </a>
							  {% else %}
								<a class="btn btn-instagram disabled btn-simple mb-0 ps-1 pe-2 py-0" href="https://www.instagram.com/{{ profile.instagram }}/">
									<i class="fab fa-instagram fa-lg"></i>
								</a>
							  {% endif %}
							</span>
							<div class="row" id="socialText">
								<div class="col-6 d-none" id="tweeterField">
									<div id="div_id_tweeter" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ update_form.tweeter.id_for_label }}" class="form-label"> 
											{{ update_form.tweeter.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ update_form.tweeter.name }}" 
											   value="{{ update_form.tweeter.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ update_form.tweeter.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="tweeter ID">
									</div>
								</div>
								<div class="col-6 d-none" id="instagramField">
									<div id="div_id_instagram" class="mb-3 input-group input-group-outline my-3 is-filled is-focused"> 
										<!-- Render the label manually -->
										<label for="{{ update_form.shipping_city.id_for_label }}" class="form-label"> 
											{{ update_form.instagram.label }}
										</label>

										<!-- Render the input field manually with custom classes and attributes -->
										<input type="text" 
											   name="{{ update_form.instagram.name }}" 
											   value="{{ update_form.instagram.value|default_if_none:'' }}" 
											   maxlength="40" 
											   class="textinput form-control" 
											   id="{{ update_form.instagram.id_for_label }}" 
											   onfocus="focused(this)" 
											   onfocusout="defocused(this)" 
											   placeholder="Instagram ID">
									</div>
									
								</div>
							</div>
							</div>
						</div>
                    </li>
					  
					</ul>
				  </div>
				</form>

				</div>

              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}