<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>کپی کد کالا</title>
	<script>
		document.addEventListener('DOMContentLoaded', function() {{
			const code = "{slug}";
			navigator.clipboard.writeText(code).then(() => {{
				alert("کد کالا در کلیپبورد کپی شد!");
				window.close();
			}}).catch(err => {{
				alert("خطایی رخ داد. لطفا دوباره تلاش کنید.");
			}});
		}});
	</script>
</head>
<body>
	<h3>در حال کپی...</h3>
</body>
</html>