<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرداخت موفق</title>
    <script>
        setTimeout(function() {
            window.location.href = "https://t.me/HUSSEIN2079_BOT"; // لینک به ربات تلگرام
            window.close();
        }, 2000);
    </script>
</head>
<body>
    <h2>✅ پرداخت شما با موفقیت انجام شد!</h2>
    <p>در حال بازگشت به تلگرام...</p>
	<a href="tg://resolve?domain=HUSSEIN2079_BOT" style="padding: 10px 20px; background: blue; color: white; text-decoration: none; border-radius: 5px;">بازگشت به تلگرام</a>
</body>
</html>
